In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [30]:
data = pd.read_csv('sprinkler_dataset.csv')
data

     Temperature   Humidity  Sprinkler_Duration
0      37.333173  55.958239           43.397338
1      41.083352  79.390758           61.881374
2      26.193361  39.168529           46.917671
3      41.279896  48.135288           38.182394
4      38.303768  76.559453           51.315277
..           ...        ...                 ...
995    41.885368  59.392376           45.238663
996    33.098216  63.430550           36.124308
997    23.581809  63.030554           35.496480
998    23.233847  60.926551           34.109839
999    25.873513  62.019979           45.040139

[1000 rows x 3 columns]

In [31]:
from matplotlib import pyplot as plt
data['Sprinkler_Duration'].plot(kind='hist', bins=20, title='Sprinkler_Duration')
plt.gca().spines[['top', 'right',]].set_visible(False)

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
# @title Humidity vs Temperature

import matplotlib.pyplot as plt
plt.scatter(data['Temperature'], data['Humidity'], c=data['Temperature'], cmap='jet')
plt.xlabel('Temperature')
plt.ylabel('Humidity')
_ = plt.title('Humidity vs Temperature')

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
# X = data[["Temperature", "Humidity"]]  # Features
# X.columns = ["Temperature", "Humidity"]  # Assign feature names
# y = data["Sprinkler_Duration"]  # Target variable

In [ ]:
X = data.drop('Sprinkler_Duration',axis=1)
y = data['Sprinkler_Duration']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Model

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_predicted)
print("Mean Squared Error:", mse)

Mean Squared Error: 21.840100876008574

Testing with user input

In [ ]:
# Assigning feature names to the new data for prediction
new_data = pd.DataFrame([[28, 85]], columns=["Temperature", "Humidity"])

In [ ]:
predicted_time = model.predict(new_data)
print("Predicted running time for 21 degrees Celsius and 80 % humidity:", predicted_time[0])

Predicted running time for 21 degrees Celsius and 80 % humidity: 49.71329660653353

In [ ]:
import pickle
pickle.dump(model, open('sprink.pkl', 'wb'))

In [ ]:
pickled_model = pickle.load(open('sprink.pkl', 'rb'))
pickle_pred =pickled_model.predict(X_test)

In [ ]:
pickle_pred

array([29.4406298 , 39.14806054, 44.57748126, 41.22992174, 39.62308975,
       40.76490073, 48.76426109, 40.72952199, 49.32099032, 48.38586899,
       52.35524899, 44.75160312, 43.81405388, 45.1612493 , 44.69404741,
       39.69684687, 43.94467075, 47.32616228, 32.60930695, 45.58636935,
       32.80335516, 45.01653997, 40.55755608, 49.07371102, 40.0750385 ,
       41.25730403, 43.98227748, 49.48512995, 47.5491158 , 47.59947657,
       43.18746267, 40.59379429, 40.09991827, 51.88687926, 38.00247843,
       50.79611897, 37.29238347, 43.05657931, 31.0008692 , 44.09673713,
       44.31808574, 50.56409595, 50.18180727, 41.74592743, 42.59123251,
       49.33866218, 48.51798486, 50.16310064, 44.81371407, 43.15608634,
       52.10915853, 43.69476613, 45.67448565, 43.84922243, 48.18008106,
       46.2196369 , 52.59415648, 46.10670552, 52.92518695, 53.27024144,
       55.26005522, 45.43936826, 41.68678609, 43.07027457, 47.80465447,
       48.68325326, 45.75000694, 36.45901278, 46.0051677 , 39.09896487,
       41.90527519, 45.1024279 , 43.88427469, 41.25678752, 55.49379043,
       41.65380648, 41.04895311, 41.15341114, 38.66985041, 38.09722054,
       37.77642735, 40.48023078, 45.3366501 , 43.46727942, 44.91016367,
       46.0683084 , 38.13459651, 44.21024673, 47.36524946, 34.73968082,
       34.63777992, 41.90358052, 50.71620419, 37.62005989, 36.58833272,
       39.54647064, 48.99406226, 39.37687596, 45.32730114, 43.23859486,
       51.61089149, 37.94723443, 47.81978435, 41.31689312, 50.87265535,
       42.00158913, 41.54345153, 31.41399729, 43.10100005, 33.88458967,
       43.70419622, 45.85966357, 36.24875956, 44.5838428 , 38.70825708,
       35.87132661, 48.42674438, 48.63744874, 46.29716913, 45.10794747,
       49.97360437, 42.67125524, 45.66151451, 51.85418675, 50.63574942,
       54.02820413, 40.63448075, 43.82431274, 31.1757993 , 44.32982425,
       42.96720136, 42.20960178, 33.48563377, 46.93558329, 35.69629429,
       40.76224321, 50.73163702, 39.86070329, 45.3020812 , 42.57471058,
       45.52024714, 32.59376239, 50.14285162, 48.57024668, 37.35540177,
       39.27436899, 40.64759838, 40.12016713, 38.63120447, 41.46911966,
       52.89554665, 43.97486713, 40.42339455, 41.99485554, 36.13112518,
       45.06687599, 44.54375375, 34.97973195, 42.87151409, 53.71424504,
       44.96902197, 45.25739621, 41.60628616, 38.86078099, 50.96418335,
       50.78565312, 42.77010744, 41.37516806, 53.85215654, 45.13743092,
       40.62058783, 41.23705415, 45.962584  , 36.31692762, 44.20029877,
       35.79003478, 29.80065232, 34.12159665, 43.48594311, 42.82101078,
       39.61949686, 41.29828121, 36.68680596, 41.37260083, 41.06893961,
       35.89893723, 50.04172201, 49.73321976, 39.98660695, 33.01511765,
       44.70595161, 46.65026583, 42.97163689, 39.30946083, 41.88236014,
       47.30942512, 44.14225085, 45.87085315, 42.31248158, 40.0511432 ])

In [ ]:
acc = mean_squared_error(y_test, pickle_pred)
print("pickle model accuracy:", acc)

pickle model accuracy: 22.705378426579088

In [ ]:
# import pickle

# # Assuming you have a trained model stored in a variable named 'model'
# # Replace 'model' with the name of your actual model variable

# # Save the model to a .pkl file
# with open('model.pkl', 'wb') as file:
#     pickle.dump(model, file)